.Experience{
    margin-top: 1px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: rgb(225, 230, 230);
    width: 100%;
}
.Experiencesec{
    text-decoration: none;
}

.ExpTitile{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
    display: block;
    text-align: left;
    padding-left: 3rem; 
}
.ExpTitile2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
    display: block;
    text-align: left;
    padding-left: 4rem; 
}
.ExpTitile3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
    display: block;
    text-align: left;
    padding-left: 5rem; 
}
.ExpColumn1{
    padding-top: 5rem;
}
.ExpColumn2{
    padding-top: 10px;
    padding-right: 10px;
}
.ExpTitlediv{
    padding-bottom: 1rem;
}
.ExpMainDes{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    font-style: bold;
    text-align: justify;
    display: flex;
    padding-left: 3rem;
    padding-right: 10px;
}
.ExpPersonalImg{
    height: 100%;
    width: 100%;
    padding-right: 1rem;
    display: flex;
    align-items: right;
}