.slick-dots {
    top: 90% ;
}
.slider-img{
    width: 100% !important;
    height: 500px;
}

.slick-slide{
    width: 100%;
    height:auto !important;      
}
.AllTop{
    margin-left: 12px;
    margin-right: 12px;
}

