
.NavItemMenu{
    display: flex;
    align-items: center;

}
.NavItemSocial{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 20px; 
}
.NavItemButton{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 20px; 
}
.NavMenu{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px; 
}
.NavMenu:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    transition: 0.5s;
    color: #e21650 !important;
}
.NavSocial{
    color: white !important;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-right: 15px;

}
.NavSocial:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    transition: 0.5s;
    color: yellow !important;
}
.ButtonSetNav{
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 25px;
    color: #000;
    background-color: rgb(68, 237, 68);
}
.ButtonSetNav:hover{
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
    border: 0;
    border-radius: 25px;
    color: white;
    background-color: black;
}
.bsp{
    padding-right: 2rem;
}
.ButtonSetNavF{
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 25px;
    color: white;
    background-color: black;
}
.ButtonSetNavF:hover{
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
    border: 0;
    border-radius: 25px;
    color: black;
    background-color: rgb(68, 237, 68);
}
a{
    text-decoration: none;
}
.BrandImg{
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    color: white !important;
}
.NavAll{
    background-image: linear-gradient(to right, #0af029 , #e21650 );
    width: 100%;
}
.NavContent{
    width: 100%;
}
