.Personal{
    margin-top: 1px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: rgb(225, 230, 230);
}
.PersonalTrain{
    text-decoration: none;
}

.MainTitile{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
    display: block;
    text-align: left;
    padding-left: 3rem;
    
}
.PersonalTrainColumn1{
    padding-top: 5rem;
}
.titlediv{
    padding-bottom: 1rem;
}
.MainDescription{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    display: flex;
    padding-left: 3rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.CupponButton{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: black;
    background-color: rgb(9, 242, 28);
    font-size: 20px;
    position: inherit;
}
.CupponButton:hover{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(242, 162, 218);
    background-color: rgb(8, 8, 8);
    font-size: 22px;
    position: inherit;
}
.seTB{
    padding-left: 3rem;
}

.personalImage{
    height: 500px;
    width: 750px;
    display: flex;
    align-items: right;
    position: absolute;
}