.WhyPersonal{
    margin: 9.5px;
    padding-right: 1rem;
}
.WhyPersonalTrain{
    text-decoration: none;
}

.WhyMainTitile{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: aquamarine;
    display: block;
    text-align: left;
    padding-left: 3rem;
    padding-top: 2rem;
    
}
.WhyColumn1{
    padding-top: 5rem;
    padding-left: 1rem;
    width: 50%;
}
.WhyColumn2{
    padding-top: 5rem;
    padding-left: 5rem;
    width: 50%;
}
.whytitlediv{
    padding-bottom: 1rem;
}
.WHYMainDescription{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    color: aqua;
    font-style: bold;
    text-align: justify;
    display: flex;
    padding-left: 3rem;
    padding-top: 10px;
    padding-bottom: 5px;
}
.JoinButton1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 5rem;
    padding-left:  10px;
    border: white;
    border-radius: 25px;
    background-color: rgb(13, 249, 13);
    color: black;
}
.JoinButton1:hover{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
    border: white;
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: rgb(249, 80, 13);
    color: yellow;
    transition: 0.8s;
}
.buttonClass1{
    padding-top: 2rem;
}
.image{
    height: 700px;
    width: 650px;
    display: flex;
    align-items: left;
    padding: 1rem;
}

.checkSet1{
    color: rgb(37, 244, 37);
    padding-right: 1rem;
    font-size: 60px;  
}
.WhyMenu1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 40px;
    color: aqua;
    padding-left: 1rem;
}
.VideoClass{
    position: absolute;
    z-index: -1;
    width: 98.8%;
    height: 810px;
    object-fit: cover;
}
