.bDiv{
    background-color: gray;
}
.Pack{
    margin: 1rem;
    padding: 1rem;
}
.Unltimate{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font: 50px;
    margin-right: 2px;
}
.d365{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font: 50px;
    margin-left: 2px;
}
.List{
    text-align: left;
    padding-left: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 1rem;
}
.CheckA{
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding-bottom: 1rem;
    color: rgb(42, 241, 42);
}
.CheckB{
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding-bottom: 1rem;
    color: rgb(42, 241, 42);
}
.CheckC{
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding-bottom: 1rem;
    color: rgb(244, 36, 36);
}
.TitleOfL{
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
}
.MenuO{
    width: 80%;
}
.menuC{
    width: 20%;
}
.TextPromo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 40px;
    font-style: italic;
    padding-top: 4rem;
    color: aliceblue;
}
.ButtonPromo{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-left: 35%;
}
.btn-huge {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    padding: 1rem 10rem;
    font-size: 1.5rem;
    background-color: rgb(32, 243, 109);
    color: black;
  }