.Pack{
    margin: 1rem;
    padding: 1rem;
}
.Unltimate{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font: 50px;
    margin-right: 2px;
}
.d365{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font: 50px;
    margin-left: 2px;
}
.List{
    text-align: left;
    padding-left: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 1rem;
}
.CheckB{
    display: flex;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    align-items: end;
}