.Blog{
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.CardMain{
    border: 1px;
    padding: 1rem;
}
.TopRow{
    text-decoration: none;
    width: 100%;
    background-color: aliceblue;
    height: 100px;
}
.TopCol1{
    width: 25%;
}
.TopCol2{
    width: 75%;
}
.AdminImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    margin-left: 225px;
    margin-top: 15px;
    display:inline-block;
    vertical-align:middle;
}
img{
    width:100%;
}
.Badge{
    background-attachment: green;
    visibility: top;
}
.AdminName{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    margin-top: 2rem;
}
.MidRow1{
    width: 100%;
}
.DateSome{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    text-decoration: none;
    color: black;
    white-space: no-wrap;
}